body {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
}
